In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ZHVI/ZHVI_December22.csv', dtype=str)

In [3]:
df_current = df.loc[:,['RegionName', '2022-12-31']]
df_last = df.loc[:,['RegionName', '2021-12-31']]

In [4]:
arr_current = np.empty([3,df_current['RegionName'].nunique()], dtype=object)
arr_last = np.empty([3,df_last['RegionName'].nunique()], dtype=object)

In [5]:
# current
a = 0
b = 1

# for every zip, transpose date columns and repeat zip code in 3rd column
for ind, row in df_current.iterrows():
    
  timeseries = row.iloc[1:].T

  arr_current[0,a:b] = timeseries.index.values
  arr_current[1,a:b] = timeseries.values
  arr_current[2,a:b] = np.repeat(row['RegionName'], len(timeseries.index.values))
  a += len(timeseries)# length of time in dataset
  b += len(timeseries)

In [6]:
# last
a = 0
b = 1

# for every zip, transpose date columns and repeat zip code in 3rd column
for ind, row in df_last.iterrows():
    
  timeseries = row.iloc[1:].T

  arr_last[0,a:b] = timeseries.index.values
  arr_last[1,a:b] = timeseries.values
  arr_last[2,a:b] = np.repeat(row['RegionName'], len(timeseries.index.values))
  a += len(timeseries)# length of time in dataset
  b += len(timeseries)

In [7]:
df_current = pd.DataFrame(arr_current.T)
df_current.columns = ['Date', 'ZHVI', 'ZipCode']

In [8]:
df_last = pd.DataFrame(arr_last.T)
df_last.columns = ['Date', 'ZHVI', 'ZipCode']

In [9]:
df_current['last'] = df_last['ZHVI']

In [10]:
df_YoY = df_current.copy()

In [11]:
df_YoY.columns = ['Date', 'Current', 'ZipCode', 'Last']

In [12]:
df_YoY['Current'] = df_YoY['Current'].astype(float)

In [13]:
df_YoY['Last'] = df_YoY['Last'].astype(float)

In [14]:
df_YoY['YoY'] = ((df_YoY['Current'] - df_YoY['Last']) / df_YoY['Last']) * 100

In [15]:
df_YoY['YoY'] = df_YoY['YoY'].round(2)

In [16]:
df_YoY

             Date   Current ZipCode      Last    YoY
0      2022-12-31  291080.0   77449  251878.0  15.56
1      2022-12-31  501644.0   77494  436908.0  14.82
2      2022-12-31  200092.0   79936  173703.0  15.19
3      2022-12-31  588935.0   11368  569656.0   3.38
4      2022-12-31  792677.0   11385  744169.0   6.52
...           ...       ...     ...       ...    ...
27446  2022-12-31   61001.0   38946       NaN    NaN
27447  2022-12-31  195116.0   50160  171156.0  14.00
27448  2022-12-31  372834.0   18081  353410.0   5.50
27449  2022-12-31   75829.0   51009   71152.0   6.57
27450  2022-12-31  111148.0   55366       NaN    NaN

[27451 rows x 5 columns]

In [17]:
df_YoY = df_YoY.loc[:,['ZipCode', 'YoY']]

In [43]:
df_YoY = df_YoY.fillna(999.99)

In [45]:
df_YoY = df_YoY.replace('NULL', 999.99)

In [18]:
df_YoY

      ZipCode    YoY
0       77449  15.56
1       77494  14.82
2       79936  15.19
3       11368   3.38
4       11385   6.52
...       ...    ...
27446   38946    NaN
27447   50160  14.00
27448   18081   5.50
27449   51009   6.57
27450   55366    NaN

[27451 rows x 2 columns]

In [19]:
df_YoY.to_csv('YoY22_with_NaN.csv', index= False)